version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: product_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: product_catalog
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d product_catalog"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped

  api:
    image: groffy/product-api:latest
    container_name: product_api
    environment:
      NODE_ENV: production
      PORT: 8080
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: product_catalog
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: unless-stopped

  web:
    image: groffy/product-web:latest
    container_name: product_web
    environment:
      VITE_API_BASE_URL: http://18.223.32.43:8080
    depends_on:
      - api
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  pgdata: